# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.log

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Docker
*.pid
*.tar
docker-compose.override.yml

# IDE / Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Caches
.cache/
*.sqlite3

# Build artifacts
build/
dist/
*.egg-info/
